In [2]:
import pandas as pd
import numpy as np

In [7]:
df_1 = pd.read_csv("data/tbl_player_power.csv")

In [8]:
df_1.head()

,int_power_id,int_player_id,int_shot_power,int_jumping,int_stamina,int_strength,int_long_shots
0,1,1,86,68,72,69,94
1,2,2,94,95,84,78,93
2,3,3,59,78,41,78,12
3,4,4,91,63,89,74,91
4,5,5,80,62,81,50,84

In [9]:
df_2 = pd.read_csv("data/tbl_player_profile.csv")

In [10]:
df_2.head()

,int_profile_id,int_player_id,str_preferred_foot,int_weak_foot,int_skill_moves,int_international_reputations,str_work_rate,str_body_type
0,1,1,Left,4,4,5,Medium/ Low,Unique
1,2,2,Right,4,5,5,High/ Low,Unique
2,3,3,Right,3,1,3,Medium/ Medium,Unique
3,4,4,Right,5,4,4,High/ High,Unique
4,5,5,Right,5,5,5,High/ Medium,Unique

In [11]:
df_3 = pd.read_csv("data/teams.csv")

In [12]:
df_3.head()

,int_team_id,str_team_name,str_league,int_overall,int_attack,int_midfield,int_defence,int_international_prestige,int_domestic_prestige,int_transfer_budget,str_defensive_style,int_team_width,int_depth,str_offensive_style,int_width,int_players_in_box,int_corners,int_freekicks
0,1,Liverpool,English Premier League (1),85,86,84,86,10,9,90000000,Press After Possession Loss,6,7,Balanced,7,6,3,3
1,2,Manchester City,English Premier League (1),85,86,86,83,9,10,176000000,Press After Possession Loss,7,8,Possession,6,7,3,3
2,3,Real Madrid,Spain Primera Division (1),85,84,87,84,10,10,188500000,Balanced,5,8,Possession,5,6,3,3
3,4,FC Bayern München,German 1. Bundesliga (1),84,91,84,83,10,10,100000000,Pressure On Heavy Touch,4,8,Possession,8,7,3,3
4,5,FC Barcelona,Spain Primera Division (1),84,82,87,83,10,10,180500000,Balanced,6,8,Possession,3,7,3,3

In [13]:
df_4 = pd.read_csv("data/players.csv")

In [14]:
df_4.head()

,int_player_id,str_player_name,str_positions,dt_date_of_birth,int_height,int_weight,int_overall_rating,int_potential_rating,str_best_position,int_best_overall_rating,...,int_international_reputations,str_work_rate,str_body_type,int_dribbling,int_curve,int_fk_accuracy,int_long_passing,int_ball_control,str_player_speciality,str_trait
0,1,Lionel Andrés Messi Cuccittini,"RW, ST, CF",1987-06-24,170,72,93,93,RW,93,...,5,Medium/ Low,Unique,96,93,94,91,96,"['Dribbler', 'Distance Shooter', 'FK Specialis...","['Finesse Shot', 'Long Shot Taker (AI)', 'Spee..."
1,2,Cristiano Ronaldo dos Santos Aveiro,"ST, LW",1985-02-05,187,83,92,92,ST,92,...,5,High/ Low,Unique,88,81,76,77,92,"['Aerial Threat', 'Dribbler', 'Distance Shoote...","['Power Free-Kick', 'Flair', 'Long Shot Taker ..."
2,3,Jan Oblak,GK,1993-01-07,188,87,91,93,GK,91,...,3,Medium/ Medium,Unique,12,13,14,40,30,NaN,"['GK Long Throw', 'Comes For Crosses']"
3,4,Kevin De Bruyne,"CAM, CM",1991-06-28,181,70,91,91,CAM,91,...,4,High/ High,Unique,88,85,83,93,92,"['Dribbler', 'Playmaker\xa0', 'Engine', 'Dista...","['Injury Prone', 'Leadership', 'Early Crosser'..."
4,5,Neymar da Silva Santos Júnior,"LW, CAM",1992-02-05,175,68,91,91,LW,91,...,5,High/ Medium,Unique,95,88,89,81,95,"['Speedster', 'Dribbler', 'Playmaker\xa0', 'FK...","['Injury Prone', 'Flair', 'Speed Dribbler (AI)..."